body {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  min-width: 1200px;
  min-height: 100%;
}
header {
  height: 90px;
  background-color: rgba(249, 249, 249, 0.95);
  border-bottom: 1px solid #E8E8E8;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
header .inner {
  width: 1200px;
  margin: 0 auto;
}
header .inner h2 {
  margin: 0;
  line-height: 90px;
  float: left;
  color: #989898;
}
header .inner nav.main-menu {
  float: right;
  font-family: "proxima-nova", Helvetica, Arial, Sans-serif;
  font-size: 14px;
}
header .inner nav.main-menu ul {
  margin: 0;
  list-style: none;
}
header .inner nav.main-menu ul li {
  float: left;
  padding: 0 20px;
}
header .inner nav.main-menu ul li a {
  color: #999;
  text-decoration: none;
  line-height: 90px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: #999999 0.25s;
  -moz-transition: #999999 0.25s;
  -ms-transition: #999999 0.25s;
  -o-transition: #999999 0.25s;
  transition: #999999 0.25s;
}
header .inner nav.main-menu ul li a:hover {
  color: #1BBF9C;
}
#content {
  min-height: 700px;
  position: relative;
  padding-top: 100px;
}
#content .inner {
  width: 1200px;
  margin: 0 auto;
}
#content .info {
  float: left;
  width: 500px;
}
#content .info h3 {
  font-size: 2.625em;
  line-height: 1.30952380952em;
  margin-bottom: 0.69047619047em;
  font-weight: 100;
  color: #282828;
}
#content .info span {
  font-size: 1.14285714286em;
}
#content .info .button {
  border: 1px solid #33abe7;
  margin-top: 10px;
  background-color: #33abe7;
  color: #F9F9F9;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#content .info .button:hover {
  color: #33abe7;
  background-color: white;
}
#content .gallery {
  top: 100px;
  right: 0px;
  position: absolute;
  float: left;
}
#content .gallery .item1 {
  width: 1000px;
  height: 542px;
  background-image: url("../i/1_devices.jpg");
}
#content .prev,
#content .next {
  position: absolute;
  top: 250px;
  font-size: 40px;
  height: 130px;
  width: 70px;
  line-height: 130px;
  z-index: 999;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#content .prev.active,
#content .next.active {
  display: block;
}
#content .prev:hover,
#content .next:hover {
  background-color: #282828;
  color: white;
}
#content .prev {
  left: 40px;
}
#content .next {
  right: 40px;
}
footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  clear: both;
  height: 90px;
  background-color: rgba(249, 249, 249, 0.95);
  border-top: 1px solid #E8E8E8;
}
footer .inner {
  width: 1200px;
  margin: 0 auto;
  line-height: 90px;
}
