@import url(font.css);
body {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  min-width: 1200px;
  min-height: 100%;
}

h5 {
    font-size: 0.8125em;
    margin-bottom: 0.5em;
    letter-spacing: 0.07692307692em;
    font-weight: 600;
    text-transform: uppercase;
}

.inner{
	padding: 0 120px;
}
header {
  height: 90px;
  background-color: rgba(249, 249, 249, 0.95);
  border-bottom: 1px solid #E8E8E8;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
header.dark {
  height: 90px;
  background-color: rgba(38, 38, 38, 0.95);
  border-bottom: 1px solid #E8E8E8;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
header .inner {
	.inner;
}
header .inner h2 {
  margin: 0;
  line-height: 90px;
  float: left;
  color: #666;
}
header .inner nav.main-menu {
  float: right;
  font-family: "proxima-nova", Helvetica, Arial, Sans-serif;
  font-size: 14px;
}
header .inner nav.main-menu ul {
  margin: 0;
  list-style: none;
}
header .inner nav.main-menu ul li {
  float: left;
  padding: 0 20px;
}
header .inner nav.main-menu ul li a {
  color: #999;
  text-decoration: none;
  line-height: 90px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: #999999 0.25s;
  -moz-transition: #999999 0.25s;
  -ms-transition: #999999 0.25s;
  -o-transition: #999999 0.25s;
  transition: #999999 0.25s;
}
header .inner nav.main-menu ul li a .arrow{
	position:relative;
	padding-right:20px;
}
header .inner nav.main-menu ul li a .arrow:before {
	position:absolute;
	right:5px;
	top:6px;
    border: solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-top-color: #999;
    border-width: 5px;
    z-index: 9;
}
header .inner nav.main-menu ul li a.active .arrow:before {
    border-bottom-color: #33ABE7;
    border-width: 5px;
    border-top: none;
}
header .inner nav.main-menu ul li a.tryit {
	padding:10px 20px;
	color:white;
	border-radius:5px;
	line-height:90px;
	text-align:center;
	background-color: #33ABE7;
}
header .inner nav.main-menu ul li a.tryit:hover {
	color:white;
	background-color: #119cE2;
}
header .inner nav.main-menu ul li a:hover {
  color: #33abe7;
}

header .inner nav.main-menu ul li .menu h5 a {
    color: #282828;
    line-height:0!important;
}

header .inner nav.main-menu ul li .menu h5 a:hover {
    color:#33abe7;
}

header .inner nav.main-menu ul li .menu {
    background-color: #e8e8e8;
    background-color: rgba(232, 232, 232, 0.98);
}
.dropdown .menu {
    display:none;
    background: rgba(38, 38, 38, 0.95);
    position: absolute;
    right: 14.286em;
    text-transform: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.dropdown a.active {
    color:#33abe7!important;
}

.dropdown .menu h5 {
    margin-top: 0;
    line-height: 1.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    color: #cccccc;
    border-bottom: 1px solid #999999;
}

.dropdown .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: none;
}

.dropdown .menu ul li {
    white-space: nowrap;
    width: 100%;
    line-height: 1em;
    padding: 0!important;
}
.dropdown .menu ul li a {
    display: block;
    line-height: 25px!important;
    text-transform: initial!important;
    color: #666666!important;
}
.dropdown .menu ul li a:hover {
    color: #33abe7!important;
}

.dropdown .menu .panel {
    float: right;
    padding: 2em;
}
.dropdown .menu .panel:first-child {
    float: left;
}
#content {
  min-height: 850px;
  position: relative;
  padding-top: 100px;
  overflow:hidden;
}
#content .inner {
	.inner;
}
#content .info {
  margin-top:140px;
  float: left;
  width: 500px;
  position:relative;
  z-index:500;
  text-shadow: 0px 0px 11px white;
}
#content .info h3 {
	font-size: 37px;
  line-height: 1.30952380952em;
  margin-bottom: 0.69047619047em;
  font-weight: 100;
  color: #282828;
}
#content .info span {
	font-size: 16px;
  font-weight: 400;
  line-height: 1.8125em;
  color: #777777;
}
#content .info .button {
  border: 1px solid #33abe7;
  margin-top: 10px;
  background-color: #33abe7;
  color: #F9F9F9;
  padding: 15px 32px 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  position:relative;
}

#content .info .button:before {
    border: solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #33abe7;
    border-width: 6px;
    top: 19px;
    right: 16px;
    z-index: 9;
}

#content .info .button:after {
    border: solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #F9F9F9;
    border-width: 6px;
    top: 19px;
    right: 14px;
}



#content .info .button:hover {
  color: #33abe7;
  background-color: white;
}
#content .gallery {
  top: 100px;
  right: 0px;
  position: absolute;
  float: left;
}
#content .gallery > div{
	display:none;
}
#content .gallery > .active{
	display:block;
}
#content .gallery div {
}
#content .gallery .item1 {
	position:absolute;
	right:20px;
	top:60px;
	width: 1164px;
	height: 757px;
	background-image: url("../i/1_devices.png");
}
#content .gallery .item2 {
	position:absolute;
	right:20px;
	top:40px;
	width: 1100px;
	height: 793px;
	background-image: url("../i/2_devices.png");
}
#content .gallery .item3 {
	position:absolute;
	right:20px;
	top:150px;
	width: 1100px;
	height: 520px;
	background-image: url("../i/3_devices.png");
}
#content .gallery .item4 {
	position:absolute;
	right:20px;
	top:60px;
	width: 1100px;
	height: 591px;
	background-image: url("../i/1.jpg");
	border:1px solid silver;

}
#content .gallery .item5 {
	position:absolute;
	right:20px;
	top:60px;
	width: 1100px;
	height: 591px;
	background-image: url("../i/2.jpg");
	border:1px solid silver;

}
#content .gallery .item6 {
	position:absolute;
	right:20px;
	top:60px;
	width: 1100px;
	height: 591px;
	background-image: url("../i/3.jpg");
	border:1px solid silver;

}
#content .gallery .item7 {
	position:absolute;
	right:20px;
	top:60px;
	width: 1100px;
	height: 591px;
	background-image: url("../i/4.jpg");
	border:1px solid silver;

}
#content .gallery .item8 {
	position:absolute;
	right:20px;
	top:60px;
	width: 1100px;
	height: 591px;
	background-image: url("../i/5.jpg");
	border:1px solid silver;

}
#content .gallery .item9 {
	position:absolute;
	right:20px;
	top:60px;
	width: 1100px;
	height: 591px;
	background-image: url("../i/6.jpg");
	border:1px solid silver;

}
#content .gallery .item10 {
	position:absolute;
	right:20px;
	top:60px;
	width: 1100px;
	height: 591px;
	background-image: url("../i/7.jpg");
	border:1px solid silver;

}
#content .gallery .item11 {
	position:absolute;
	right:20px;
	top:60px;
	width: 1100px;
	height: 591px;
	background-image: url("../i/8.jpg");
	border:1px solid silver;

}
#content .prev,
#content .next {
  position: absolute;
  top: 380px;
  font-size: 40px;
  height: 130px;
  width: 70px;
  line-height: 130px;
  z-index: 999;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color:black;
  display:none;
  text-decoration:none;
}
#content .prev.active,
#content .next.active {
  display: block;
}
#content .prev:hover,
#content .next:hover {
  background-color: #282828;
  color: white;
}
#content .prev {
  left: 40px;
}
#content .next {
  right: 40px;
}
#content .navigation {
	margin:0 auto;
	text-align:center;
	width:100%;
	position:absolute;
	bottom:10px;
	
}
#content .navigation .inner{
	width:200px;
	margin:0 auto;
	padding:0px;
}
#content .navigation a{
	float:left;
	width:10px;
	height:10px;
	border-radius:10px;
	display:block;
	background-color:#999;
	margin:2px;
}
#content .navigation a:hover{
	background-color:#282828;
}
#content .navigation a.active{
	background-color:#282828;
}

footer {
  width: 100%;
  clear: both;
  height: 90px;
  background-color: rgba(249, 249, 249, 0.95);
  border-top: 1px solid #E8E8E8;
}
footer .inner {
	.inner;
	color: #777;
	font-size: 14px;
	line-height: 90px;
}
